body {
background-color: aqua;
font-family: Arial, sans-serif;
  margin: 100;
  padding: 100;
}

h1 {
    font-size: 50px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
ul {
    font-size: 20px;
    padding: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  padding: 10px;
  border: 1px;
  border-radius: 50px;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}

img {
  width: 1000px;
  height: 700px;
  padding-left: 300px;
  padding-right: 300px;
}