body {
background-color: aqua;
}

h1 {
    font-size: 50px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
}
ul {
    font-size: 20px;
}
