body {
background-color: aqua;
font-family: Arial, sans-serif;
  margin: 100;
  padding: 100;
}

h1 {
    font-size: 50px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
}
ul {
    font-size: 20px;
    padding: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  padding: 10px;
  border: 1px;
  border-radius: 50px;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}