#form{
  width: 50%;
}
#name{
  display: flex;
}
#com{
  display: grid;
  width: 100%;
  height: 200px;
}

.titre{
  text-align: center;
}
.titre > p{
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}